{{ partial "header" . }}

<h1>👩‍🚀 Launchcontrol</h1>

<p>
  Check your newly created website against some services for better performance, ranking and load times.<br>
  Just enter your URL, click <em>'set URL'</em> and check the links afterwards.
</p>

<p>
  <input type="text" name="url" class="userUrlInput" placeholder="Enter url to check">
  <button type="button" class="userUrlButton">set URL</button>
</p>

<ul class="testServices">
  <li>
    <a target="_blank" data-url="https://validator.w3.org/nu/?doc=%url" href="#">Validate rendered HTML with W3 validator</a>
  </li>
  <li>
    <a target="_blank" data-url="https://search.google.com/test/mobile-friendly?url=%url" href="#">Check for (mobile) issues with Google</a>
  </li>
  <li>
    <a target="_blank" data-url="https://developers.google.com/speed/pagespeed/insights/?url=%url" href="#">Measure performance with Google Page Speed</a>
  </li>
  <li>
    <a target="_blank" data-url="https://www.google.com/search?q=site%3A%url" href="#">Search results on Google</a>
  </li>
  <li>
    <a target="_blank" data-url="https://www.bing.com/search?q=site%3A%url" href="#">Search results on Bing</a>
  </li>
  <li>
    <a target="_blank" data-url="%url/404040404" href="#">Does it have a 404 page?</a>
  </li>
  <li>
    <a target="_blank" data-url="%url/robots.txt" href="#">Does it have a robots.txt?</a>
  </li>
</ul>

{{ partial "footer" . }}
