{{ partial "header" . }}

<h1>👩‍🚀 Launchcontrol</h1>

<div class="pbanner">
   <p><a href="https://github.com/atomtigerzoo"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
  </p>
</div>
  
<p>
    Check your newly created website against some services for better performance, ranking and load times.<br>
    Just enter your URL, click <em>'set URL'</em> and check the links afterwards.
</p>


<p>
  <input type="text" name="url" class="userUrlInput" placeholder="Enter url to check">
  <button type="button" class="userUrlButton">set URL</button>
</p>

<h2>External checks and tests</h2>

<ul class="testServices">
  <li>
    <a target="_blank" data-url="https://validator.w3.org/nu/?doc=%url" href="#">Validate rendered HTML with W3 validator</a>
  </li>
  <li>
    <a target="_blank" data-url="https://search.google.com/test/mobile-friendly?url=%url" href="#">Check for (mobile) issues with Google</a>
  </li>
  <li>
    <a target="_blank" data-url="https://developers.google.com/speed/pagespeed/insights/?url=%url" href="#">Measure performance with Google Page Speed</a>
  </li>
  <li>
    <a target="_blank" data-url="https://www.google.com/search?q=site%3A%url" href="#">Search results on Google</a>
  </li>
  <li>
    <a target="_blank" data-url="https://www.bing.com/search?q=site%3A%url" href="#">Search results on Bing</a>
  </li>
  <li>
    <a target="_blank" data-url="%url/404040404" href="#">Does it have a 404 page?</a>
  </li>
  <li>
    <a target="_blank" data-url="%url/robots.txt" href="#">Does it have a robots.txt?</a>
  </li>
</ul>

<h2>Manual checks and tests</h2>

<ul class="checklist">
  <li>
    <label><input type="checkbox" name="devices"> Checked and tested on a <strong>real</strong> device? (eg. Phone, Tablet)</label>
  </li>
  <li>
    <label><input type="checkbox" name="firefox"> Checked in Firefox?</label>
  </li>
  <li>
    <label><input type="checkbox" name="edge"> Checked in Edge?</label>
  </li>
  <li>
    <label><input type="checkbox" name="chrome"> Checked in Chrome?</label>
  </li>
  <li>
    <label><input type="checkbox" name="safari"> Checked in Safari?</label>
  </li>
  <li>
    <label><input type="checkbox" name="opera"> Checked in Opera?</label>
  </li>
  <li>
    <label><input type="checkbox" name="linux"> Checked in some/any browsers on a Linux OS?</label>
  </li>
</ul>

{{ partial "footer" . }}
